
#blue {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}


#green {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}


#red {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}

#yellow {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}

.jumbotron{
    margin-bottom: 0px;
    background: transparent;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding: 24px 60px;
    font-family: 'Lobster', cursive;
}

.panel-default {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
  position: relative;
  display: inline-block;
}

body {
    font-size: 16px;
    line-height: 1.42857143;
    color: black;
    margin: 20px; 
    background-image: url(http://www.powerpointhintergrund.com/uploads/2017/05/-white-marble-background-marble-background-white-marble-backgrounds-14.png);
    background-repeat: no-repeat;
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}