
#blue {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}


#green {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}


#red {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}

#yellow {
	height: 100px;
    width: 75px;
    display: inline-block;
    border: 3px solid purple;
    margin: 10px;
}

